sudo: required

language: node_js

node_js:
  - "8.7"

services:
  - docker

before_install:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

script:
  - docker build -t pirelenito/unbubble:latest .

after_success:
- test $TRAVIS_BRANCH == "master" && docker push pirelenito/unbubble:latest
